@model firstORM.Models.TodoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <a asp-controller="Todo" asp-action="AddTodo">Add new Task</a>
    <a asp-controller="Assignee" asp-action="List">List Assignees</a>
    <form action="search" method="post">
        <label id="search">Search for Todo</label>
        <input type="text" name="hint" id="search" />
        <button type="submit">Search</button>
    </form>
    @if (Model.Todos is not null)
    {

        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Is Done</th>
                <th>Is Urgent</th>
                <th>Date Of Creation</th>
                <th>Assignee</th>
            </tr>
            @for (int i = 0; i < Model.Todos.Count(); i++)
            {
        <tr>
            <td>@Model.Todos[i].Id</td>
            <td>@Model.Todos[i].Title</td>
            <td>@Model.Todos[i].IsDone</td>
            <td>@Model.Todos[i].IsUrgent</td>
            <td>@Model.Todos[i].DateOfCreation</td>
            <td>
                @if (@Model.Todos[i].Assignee is not null)
                {
                <form asp-controller="Assignee" asp-action="ListAssignedTodos" method="get">
                    <button type="submit" name="Id" value="@Model.Todos[i].Assignee.Id">@Model.Todos[i].Assignee.Name</button>
                </form>
                }
                else
                {
                <p>not assigned yet</p>
                }
                </td>
                <td><a href="@Model.Todos[i].Id/delete">delete</a></td>
                <td><a href="@Model.Todos[i].Id/edit">edit</a></td>
            </tr>
            }

        </table>
    }
    else
    {
        <p>No Todos Yet</p>
    }
</body>
</html>
<style>
    a {
        text-decoration: underline;
        font-size: 20px;
    }

    td, table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
    }

    tr {
        background-color: white;
    }

        tr:nth-child(even) {
            background-color: lightgray;
        }

    th {
        color: white;
        background-color: black;
        border: 1px solid white;
    }

    table {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        font-family: 'Comic Sans MS';
        width: 60%;
    }
    button {
        outline: none;
        font-size: 25px;
        color: blue;
        text-decoration: underline;
        background-color: transparent;
        border: none;
    }

    button {
        cursor: pointer;
        color: purple;
    }
</style>